<app-cabecera></app-cabecera>

<div class="container">
    <div class="row">
        <div class="col-xl-6 col-12">
            <div class="text-center">
                <div class="form-signin">
                    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                        <h3>Login</h3>
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="name@example.com"
                                formControlName="email">
                            <label for="floatingInput">Correo</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" placeholder="Password"
                                formControlName="password">
                            <label for=" floatingPassword">Contraseña </label>
                        </div>
                        <div class="checkbox mb-3">
                            <label id="recordatorio">
                                <input type="checkbox" value="remember-me"> Recordar Usuario
                            </label>
                        </div>
                        <button id="signin" type="submit">Sign in</button>
                    </form>
                    <div id="crearcuenta">
                        <p>¿Has olvidado tu contraseña?</p>
                        <p>¿Aún no tienes cuenta? <a id="registrate" href="/registro"> ¡Registrate! </a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 d-none d-xl-block">
            <img class="img-fluid" src="../../assets/img_08.jpg" alt="">
        </div>
    </div>
</div>