<form [formGroup]="formularioEdit" (ngSubmit)="onSubmit()">
    <div class="modal-header">
        <h5 class="modal-title" id="addproduct">{{title}} producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
        </div>
        <div class="error" *ngIf="formularioEdit.controls.nombre.errors && formularioEdit.touched">
            El campo nombre no puede estar vacío
        </div>
        <div class="form-group">
            <label for="">Formato</label>
            <input type=" text" class="form-control" formControlName="formato">
        </div>
        <div class="form-group">
            <label for="">Cantidad</label>
            <input type="text" class="form-control" formControlName="cantidad">
        </div>
        <div class="error" *ngIf="formularioEdit.controls.cantidad.errors && formularioEdit.touched">
            El campo cantidad no puede estar vacío
        </div>
        <div class="">
            <label class="form-label">Categoría</label>
            <select formControlName="fk_categoria_id" class="form-control">
                <option *ngFor="let categoria of arrCategoria" [value]="categoria.id">
                    {{categoria.nombre}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Precio sin iva</label>
            <input class="form-control" type="text" formControlName="precioSin">
        </div>
        <div class="form-group">
            <label for="">Iva</label>
            <input class="form-control" type="text" formControlName="iva">
        </div>
    </div>
    <div class=" modal-footer">
        <button data-bs-dismiss="modal" aria-label="Close" type="submit" class="btn btn-primary"
            [disabled]="!formularioEdit.valid ">Guardar Cambios</button>
    </div>
</form>