<nav class="menu pt-2 shadow navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="img-fluid logo" src="/assets/logoWhite.png" alt="zehnstock">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" href="#anclaServicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" href="#anclaNosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registro">Registrar</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div id=imgfondo class="col">
    <div class="titulo col-md-4">
        <p>LA REVOLUCION PARA LA GESTION DE STOCK</p>
        <h1>ZEHNSTOK</h1>
        <div class="contenedor">
            <h2>RESTAURANTES, ALMACENES, BODEGAS...</h2>
        </div>

    </div>
</div>
<!-- servicios -->
<div id="servicios" class="bg-light bg-gradient pb-5 pt-3s">
    <div class="col pt-2">
        <h2 class="shadow-sm p-2 mb-5 bg-body rounded text-center mt-5 bordes">Servicios</h2>

    </div>
    <div class="container" id="anclaServicios">
        <div class="row">
            <div class="col-md-4 agrandar">
                <h4 class="p-2 text-center"><i class="fas fa-layer-group"></i> Control de Stock</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
            <div class="col-md-4 agrandar">
                <h4 class="p-2 text-center"><i class="fas fa-cloud-download-alt"></i> Datos en la nube</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Perferendis debitis laboriosam voluptatum nesciunt, fugit ea hic aperiam, nemo perspiciatis dolore
                    aspernatur inventore? Pariatur ea eveniet eaque nemo odio quis nulla.</p>
            </div>
            <div class="col-md-4 agrandar">
                <h4 class="p-2 text-center"><i class="fas fa-file-download"></i> Exportacion a diferentes archivos</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
            <div class="col-md-4 agrandar">
                <h4 class="p-2 text-center"><i class="fas fa-database"></i> Estadisticas</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
            <div class="col-md-4 pb-5 agrandar">
                <h4 class="p-2 text-center"><i class="fas fa-reply-all"></i> Todo tus negocios en una app</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
            <div class="col-md-4 agrandar">
                <h4 class="p-2 text-center"><i class="fas fa-stopwatch"></i> Reduce el tiempo de gestión</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
        </div>
    </div>
</div>

<!-- nosotros -->
<div class="pt-2" id="anclaNosotros">
    <div class="col pt-5">
        <h2 class="shadow-sm p-2 mb-5 bg-body rounded text-center bordes">Sobre nosotros</h2>

    </div>
    <div class="container" id="nosotros">
        <div class="row">
            <div class="col-md-6">

                <h4 class="text-center">Rubén Lago</h4>
                <div class="cajaImg m-4">
                    <img src="../../assets/ruben.jpg" alt="">
                </div>

                <h5 class="text-center p-3">Desarrollador Full Stack</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eveniet repellendus aperiam ipsam
                    distinctio beatae nam accusamus quasi voluptatibus quidem consequuntur id veritatis quia eos
                    possimus, rerum, facere ab doloribus unde eaque cupiditate commodi consequatur accusantium?
                    Molestiae natus accusamus, tempora omnis ipsum quae. Nemo dignissimos in non doloremque beatae
                    voluptates.</p>
            </div>
            <div class="col-md-6">

                <h4 class="text-center">Danny Atiencia</h4>
                <div class="cajaImg m-4">
                    <img src="../../assets/danny.jpg" alt="">
                </div>

                <h5 class="text-center p-3">CEO </h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia, vel minima! Temporibus dolore
                    neque, aliquid distinctio, quo libero laboriosam illo velit assumenda obcaecati illum blanditiis
                    esse consequuntur magni ratione accusamus quasi, maiores dolorem et reiciendis? Repellendus sunt
                    vitae error aut consequatur dolore, molestiae fuga ad, distinctio asperiores perferendis. Voluptate,
                    consectetur.</p>
            </div>
        </div>
    </div>

    <!-- footer -->
    <section class="w-100">
        <footer class="bg-dark text-white pt-3 mt-5">
            <div class="container p-4">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Gestión de inventarios:</h5>

                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
                            aliquam voluptatem veniam, est atque cumque eum delectus sint!
                        </p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@zehnstock.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 34 674 567 88</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Redes</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="" class="me-4 text-reset">
                                    Twitter<i class="fab fa-twitter m-2"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="me-4 text-reset mr-2">
                                    Google <i class="fab fa-google m-2"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="me-4 text-reset">
                                    Linkedin <i class="fab fa-linkedin m-2"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="me-4 text-reset">
                                    Github <i class="fab fa-github m-2"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">Navegacion</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#anclaServicios" class="text-white mb-2">Servicios</a>
                            </li>
                            <li>
                                <a href="#anclaNosotros" class="text-white mb-2">Nosotros</a>
                            </li>
                            <li>
                                <a href="/login/" class="text-white mb-2">Login</a>
                            </li>
                            <li>
                                <a href="/registro/" class="text-white mb-2">Registro</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">Zehnstock.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>