<nav class="menu pt-2 shadow navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="img-fluid logo" src="/assets/logoWhite.png" alt="zehnstock">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="" routerLinkActive="active">Registrar</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div id=imgfondo class="col">
    <div class="titulo col-md-4">
        <p>LA REVOLUCION PARA LA GESTION DE STOCK</p>
        <h1>OPERUIT</h1>
        <div class="contenedor">
            <h2>RESTAURANTES, ALMACENES, BODEGAS...<span>&#160;</span></h2>
        </div>

    </div>
</div>
<!-- servicios -->
<div id="servicios" class="bg-light bg-gradient">
    <div class="col pt-2">
        <h2 class="shadow-sm p-2 mb-5 bg-body rounded text-center mt-5">Servicios</h2>

    </div>
    <div class="container" id="servicios">
        <div class="row">
            <div class="col-md-4">
                <h4 class="p-2 text-center">Control de Stock</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
            <div class="col-md-4">
                <h4 class="p-2 text-center">Datos en la nube</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
            <div class="col-md-4">
                <h4 class="p-2 text-center">Exportacion a diferentes archivos</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
            <div class="col-md-4">
                <h4 class="p-2 text-center">Estadisticas</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
            <div class="col-md-4">
                <h4 class="p-2 text-center">Todo tus negocios en una app</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
            <div class="col-md-4">
                <h4 class="p-2 text-center">Reduce el tiempo de gestión</h4>
                <p class="shadow p-5 mb-5 bg-body rounded">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Quia
                    suscipit voluptatem facilis doloremque ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
        </div>
    </div>
</div>

<!-- nosotros -->
<div class="col pt-2">
    <div class="col pt-5">
        <h2 class="shadow-sm p-2 mb-5 bg-body rounded text-center">Sobre nosotros</h2>

    </div>
    <div class="container" id="nosotros">
        <div class="row">
            <div class="col-md-6">

                <h4 class="text-center">Rubén Lago</h4>
                <div class="cajaImg m-4">
                    <img src="../../assets/ruben.jpg" alt="">
                </div>

                <h5 class="text-center">Desarrollador Front End y Fotógrafo</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia suscipit voluptatem facilis doloremque
                    ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
            <div class="col-md-6">

                <h4 class="text-center">Danny Atiencia</h4>
                <div class="cajaImg m-4">
                    <img src="../../assets/danny.jpg" alt="">
                </div>

                <h5 class="text-center">CEO </h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia suscipit voluptatem facilis doloremque
                    ab,
                    eveniet nesciunt placeat mollitia quidem praesentium, dicta accusamus magnam molestias voluptate
                    ipsa
                    tempore aliquid amet iusto!</p>
            </div>
        </div>
    </div>

    <!-- footer -->

    <div class='container-fluid'>
        <div class="card">
            <div class="heading text-center">
                <div class="head1">Just Scratching the Surface</div>
                <p class="bdr"></p>
            </div>
            <div class="card-body">
                <div class="row m-0 pt-5">
                    <div class="card col-12 col-md-3">
                        <div class="card-content"> <i class="fas fa-hand-holding-usd fa-3x"></i>
                            <div class="card-title"> RECHARGE REPEAT CUSTOMER </div>
                            <p><small>Save customers' cards for future phone orders</small></p>
                            <div class="learn-more">
                                <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-3">
                        <div class="card-content"> <i class="far fa-handshake fa-3x"></i>
                            <div class="card-title"> ACCEPT ELECTRONIC CHECK </div>
                            <p><small>Save customers' cards for future phone orders</small></p>
                            <div class="learn-more">
                                <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-3">
                        <div class="card-content"> <i class="fas fa-mobile-alt fa-3x"></i>
                            <div class="card-title"> STREAMLINE PHONE PAYMENTS </div>
                            <p><small>Save customers' cards for future phone orders</small></p>
                            <div class="learn-more">
                                <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
                            </div>
                        </div>
                    </div>
                    <div class="card col-12 col-md-3">
                        <div class="card-content"> <i class="fas fa-user-secret fa-3x"></i>
                            <div class="card-title"> STAY<br /> SECURE </div>
                            <p><small>Save customers' cards for future phone orders</small></p>
                            <div class="learn-more">
                                <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer row m-0">
                <p> <label> <i class="fas fa-phone fa-rotate-90 text-primary"></i> </label> 800-601-0230</p>
                <div>
                    <p> <small class="follow-text">FOLLOW US ON SOCIAL MEDIA</small> <label class="footer-right"> <i
                                class="fab fa-instagram"></i> <i class="fab fa-facebook-square"></i> <i
                                class="fab fa-linkedin"></i> <i class="fab fa-twitter-square"></i> </label> </p>
                </div>
            </div>
        </div>
    </div>