div h3{
    text-align: center;
    font-family: var(--fuenteprincipal);
    padding-top: 50px;
    font-size: 3.5em;
    padding-bottom: 20px;
    font-weight: 1000;
}

#opcion{
  padding-top: 10px;
  font-weight: 1000;
}

#container{ 
  align-content: center; 
  font-family: var(--fuenteprincipal);
  border-radius: 20px;
  box-shadow: 0 0 10px var(--colorsecundario); 
  font-weight: 600;
}

#container form{
  padding: 50px;
}

#button-register{
width: 100%;
padding: 8px;
margin-top: 30px;
color: white;
background-color: var(--colorprincipal);
border: none;
border-radius: 30px;
}

#button-register:hover{
  background-color: var(--colorsecundario);
  color: var(--colorprincipal);
}

#iniciarsesion{
    padding-top: 10px;
  }
  
  p {
    text-align: center;
    margin: 1px;	
  }
  
  #iniciarsesion a p{
      color: var(--colorsecundario);
  }
  
  #iniciarsesion a p:hover{
      color: var(--colorprincipal);

}


footer{
    bottom: 0;
    color: #50595c;
    width: 100%;
    font-weight: 600;
    
}

.form-signin {
  border-radius: 20px;
box-shadow: 0 0 10px var(--colorsecundario); 
padding: 20px;
margin: 50px auto;
width: 600px;
font-weight: 900;
margin-top: 100px;
}
