<app-cabecera></app-cabecera>


<div class="h-100">


    <div class="row pt-5 h-100">
        <div class="col border border-right-secondary">

            <div id="nav-Vertical" class="ml-5 mt-3" bg-dark>
                <h6>INFORMES</h6>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="producto" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                <ul class="nav fex-column">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Negocios
                        </a>

                        <!--  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"></div> -->
                        <a class="dropdown-item" [routerLink]="['/report/negocio', negocio.id]" id=""
                            *ngFor="let negocio of arrNegocios">{{negocio.nombre}} </a>
                        <!-- </div> -->
                    </li>
                    <li>
                        <a [routerLink]="['/report/negocio/create']" (click)="onChange()">Añadir NUEVO NEgoCIo</a>
                    </li>
                </ul>
                <ul class="nav fex-column">
                    <li class="nav-item">
                        <a class=nav-link active href="#">Inventarios</a>
                    </li>
                </ul>
                <ul class="nav fex-column">
                    <li class="nav-item">
                        <a class=nav-link active href="#">Stock</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-9">
            <router-outlet></router-outlet>

        </div>


    </div>
</div>




<app-footer></app-footer>