<app-cabecera></app-cabecera>


<div class="h-100">


    <div class="row pt-5 h-100">
        <div class="col border border-right-secondary">

            <div id="nav-Vertical" class="ml-5 mt-3" bg-dark>
                <h6>INFORMES</h6>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="producto" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                <ul class="nav fex-column">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Negocios
                        </a>
                        <!--  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"></div> -->
                        <a class="dropdown-item" id="" *ngFor="let negocio of arrNegocios">{{negocio.nombre}}</a>

                        <!-- </div> -->
                    </li>
                </ul>
                <ul class="nav fex-column">
                    <li class="nav-item">
                        <a class=nav-link active href="#">Inventarios</a>
                    </li>
                </ul>
                <ul class="nav fex-column">
                    <li class="nav-item">
                        <a class=nav-link active href="#">Stock</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam magnam nulla atque rem quibusdam
                aspernatur nemo architecto tempora adipisci maiores facere hic inventore, necessitatibus distinctio
                expedita facilis, doloribus in aut quod porro molestias fugit! Sit vitae, cupiditate sed laudantium
                consequuntur, minus ipsum soluta rerum vero sint neque quasi provident! Culpa aperiam adipisci
                accusamus, quam eaque labore? Recusandae ab, delectus facere ea cumque, provident obcaecati fuga est
                doloremque esse optio tenetur soluta porro accusantium? Ducimus alias ut pariatur commodi ab doloremque?
                Sunt, explicabo. Impedit, provident in deleniti ad rerum suscipit laborum placeat nihil quo magnam
                perspiciatis dicta minus assumenda facere ea consequatur laboriosam itaque? Quos, alias! Perspiciatis
                molestias amet voluptate illum rerum dolore nesciunt. Laborum deleniti est ipsam repellendus illum eaque
                nihil at distinctio assumenda facere eius id, porro, esse animi vitae, totam possimus provident
                molestiae earum tenetur sapiente voluptas iure! Sed ea optio hic aliquid repudiandae labore dolorum
                consectetur vero, vel facilis iusto adipisci quibusdam earum cum, fugiat maxime expedita, rem vitae!
                Eius, cum enim vitae molestiae maiores, facere porro quidem voluptates minima inventore id. Excepturi,
                aut aperiam molestiae vero fuga ullam incidunt, saepe odit numquam officiis illum repellendus, corrupti
                eveniet nemo dolorem praesentium natus beatae est quasi. Aliquam illum sunt unde eveniet, maxime quam
                minima, magni excepturi harum veritatis similique, id voluptas exercitationem velit nulla vero
                consequuntur non provident consequatur ullam perspiciatis ipsum est doloremque molestiae. Dolorem minus
                sapiente quis ducimus, excepturi dolor quidem sunt ad sit odit itaque quo exercitationem beatae iure?
                Qui ab nobis maiores sed, nostrum corrupti sit, culpa pariatur, assumenda nihil quas voluptatibus
                sapiente omnis numquam? Ad fugit delectus cumque recusandae porro facere similique! Cum sunt et sequi
                reiciendis delectus ex, ut iusto nemo mollitia a repudiandae cupiditate laborum facilis commodi placeat
                aut non repellendus, facere magnam expedita. Veritatis deleniti beatae voluptatem? Quo, deleniti a!</p>
        </div>

        <div class="col">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eos in amet minus commodi ipsa placeat
                eius, odit alias soluta repudiandae quod cupiditate rerum voluptatem quaerat tempora ad deserunt libero
                beatae esse impedit error velit eum! Incidunt ex voluptate quidem ut consectetur culpa voluptatum ipsa
                necessitatibus inventore cumque aspernatur tempore minima aliquam doloremque recusandae eius, architecto
                et magnam error nisi molestias aperiam maxime voluptates. Nihil repellat velit et alias harum? Pariatur
                totam ipsum atque commodi perspiciatis provident sed sapiente ducimus enim officia ullam earum sunt
                architecto repudiandae, a unde nobis fugiat placeat maxime. Perspiciatis molestiae dolor laborum
                voluptatibus id cupiditate sit quia iure. Amet veritatis eveniet ab corrupti! Alias ut architecto esse
                repellendus. Odit aut id aliquam, maiores perferendis quia quas minus? Aut natus nulla, similique
                consequuntur minus tempora error ducimus placeat neque sunt debitis, nobis laborum quaerat, blanditiis
                minima reprehenderit libero unde accusantium quidem repudiandae qui omnis ad veniam.</p>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <!-- espacio vacío -->
        </div>
        <div class="col-9">

            <h3>espacio para gráficas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, repellat eaque? Ipsa aut veritatis
                quisquam enim atque fugiat consequatur culpa, eveniet nisi odio. Consequatur voluptas tempore
                reprehenderit incidunt aperiam animi.</p>

        </div>
    </div>


</div>




<app-footer></app-footer>