.logo{
    max-width: 100px;
}
.menu{
    border-bottom: 3px solid var(--colorsecundario);
    background-color: var(--colorprincipal);   
}
h2.bordes{
    border: 2px solid #33d9b2;
    font-size: 2.7em;
    font-weight: 1000;
}

p{
    font-weight: 400;
}

#enalacesInternos a{
    font-weight: 400;
    text-decoration: none;
}

#enlacesInternos a:hover{
    text-decoration: none;
    background-color: var(--colorsecundario);

}
#enlacesExternos a{
    font-weight: 400;
    text-decoration: none;
}

#enlacesExternos a:hover{
    color: var(--colorsecundario);
}

/* imagen cabecera */
#imgfondo{
    background-color: var(--colorsecundario);
    background-size: cover;
    opacity: 0.8;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* texto cabecera*/
.titulo{
       font-size: 42px;
       color: black;
    }

.titulo h1{
       font-size: 80px;
    }

.contenedor{
        margin: auto;
        display: table;
    }
.contenedor h2{
   position: relative; 
	float: left;
	background: var(--colorsecundario);
	color: black;
	font-size: 30px;
    font-weight: 500;
    }

.contenedor h2 span {
    position:absolute;
    right:0;
    width:0;
    background: var(--colorsecundario);
    border-left: 1px solid #000;
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
    

/* imagenes nosotros */
#nosotros img{
    width: 40%;
    height: auto;
    text-align: center;
    filter: grayscale(1);
    border-radius: 50% 50%;
    border: 2px solid #999999; 
    
}
#nosotros img:hover{
    filter: none;
}
#nosotros .cajaImg{
    display: flex;
    justify-content: center;
}

/* footer */
body {
    background-color: #616161
}

.card {
    background-color: #616161;
    color: white;
    margin-top: 50px;
    border: none
}

.head1 {
    font-weight: 900;
    font-size: 30px
}

.bdr {
    border-bottom: 1.5px solid #d63031;
    width: 65px;
    margin-right: auto;
    margin-left: auto
}

.card-footer {
    justify-content: space-between;
    border: none;
    background: none;
    border-bottom: 0.5px solid #9E9E9E
}

.footer-right>i {
    margin-left: 15px
}


.card-title {
    margin-bottom: .75rem;
    font-weight: 900;
    font-size: 15px;
    margin-top: 1.75rem
}
.card-content {
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px
}

.card-content>p {
    color: #9E9E9E
}

.heading {
    position: relative;
    top: 75px
}

.follow-text {
    color: #9E9E9E
}

.agrandar:hover
{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

#anclaServicios i{
    color: var(--colorsecundario);
    margin-right: 10px;
}

