<app-cabecera></app-cabecera>

<div class="container">
    <div class="row">
        <div class="col-xl-6 d-none d-xl-block">
            <img class="img-fluid" src="../../assets/img_08.jpg" alt="">
        </div>
        <div class="col-xl-6 col-12" id="contenedorFormulario">
            <div class="text-center">
                <div class="form-signin">
                    <div>
                        <h3>BIENVENIDO</h3>
                    </div>
                    <form class=" needs-validation" [formGroup]="formulario" (ngSubmit)="onSubmit()">
                        <h5 class="mb-3">Datos de registro:</h5>
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label">Nombre:</label>
                                <input type="text" class="form-control" formControlName="nombre">
                                <p class="error" *ngIf="checkControl('nombre', 'required')">
                                    El campo 'Nombre' es obligatorio
                                </p>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Apellidos:</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" formControlName="apellidos">
                                    <p class="error" *ngIf="checkControl('apellidos', 'required')">
                                        El campo 'Apellido' es obligatorio
                                    </p>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Nombre del negocio:</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" formControlName="username">
                                    <p class="error" *ngIf="checkControl('username', 'minlength')">
                                        El campo 'Nombre del negocio' debe ser mayor a 5 caracteres'
                                    </p>
                                    <p class="error" *ngIf="checkControl('username', 'required')">
                                        El campo 'Nombre del negocio' es obligatorio'
                                    </p>

                                </div>
                            </div>
                            <div class=" col-12">
                                <label class="form-label">Email:</label>
                                <input type="email" class="form-control" formControlName="email">
                                <p class="error" *ngIf="checkControl('email', 'required')">
                                    El campo 'email' es obligatorio
                                </p>
                                <p class="error" *ngIf="checkControl('email', 'pattern')">
                                    El campo 'email' no es valido
                                </p>
                            </div>
                            <div class="col-12">
                                <label fo class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" formControlName="password">
                                <p class="error" *ngIf="checkControl('password', 'required')">
                                    El campo 'contraseña' es obligatorio
                                </p>
                                <p class="error" *ngIf="checkControl('password', 'pattern')">
                                    El campo 'contraseña' es incorrecto
                                </p>
                                <p class="error" *ngIf="checkControl('email', 'pattern')">
                                    El campo 'contraseña' debe contener, un numero, un simbolo y una mayuscula
                                </p>
                                <p class="error" *ngIf="checkControl('repeat_password', 'passwordValidator')">
                                    Las contraseñas no coinciden
                                </p>

                            </div>
                            <div class=" col-12">
                                <label class="form-label">Repetir contraseña</label>:
                                <input type="password" class="form-control" formControlName="repeat_password">
                                <p class="error" *ngIf="checkControl('repeat_password', 'required')">
                                    El campo 'Repetir contraseña' es obligatorio
                                </p>
                                <p class="error" *ngIf="checkControl('repeat_password', 'passwordValidator')">
                                    Las contraseñas no coinciden
                                </p>
                            </div>
                        </div>
                        <button id="button-register" class="btn btn-primary" type="submit">Registrarse</button>
                        <div id="iniciarsesion">
                            <p>¿Ya tienes una cuenta?</p>
                            <a id="registrate" href="/login">
                                ¡Inicia sesión!
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>