<div class="row p-4">
    <h5 class="col-10">Productos</h5>

</div>

<!-- tabla -->
<div class="container">
    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Producto</th>
                <th scope="col">Formato</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio sin iva</th>
                <th scope="col">Iva</th>
                <th scope="col">Editar</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of arrProductos">
                <th scope="row">{{producto.id}}</th>
                <td>{{producto.nombre}}</td>
                <td>{{producto.formato}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.precioSin}}</td>
                <td>{{producto.iva}}</td>
                <td> <button type="button" class="btn btn-dark" [attr.data-bs-target]="'#editModal'+producto.id"
                        data-bs-toggle="modal">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- modal -->
<div *ngFor="let producto of arrProductos" class="modal fade" [id]="'editModal'+producto.id" tabindex="-1"
    aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- formu -->


            <app-form-product [producto]="producto"></app-form-product>

        </div>


    </div>
</div>
<!-- fin modal -->