<app-cabecera></app-cabecera>

<div class="row p-4">
    <h5 class="col-10">Productos</h5>
</div>
<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addproduct"> AÑADIR
    NUEVO PRODUCTO <i class="fas fa-plus-square"></i></button>

<!-- Modal -->
<div class="modal fade" id="addproduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-form-product (formOut)='cerrarForm($event)'> </app-form-product>

            <!-- 
            <div class="modal-header">
                <h5 class="modal-title" id="addproduct">Añadir nuevo producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formulario" (ngSubmit)="addProduct()">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre del producto: </label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="formato" class="form-label">Formato: </label>
                        <input type="text" class="form-control" formControlName="formato">
                    </div>
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoria </label>
                        <select id="disabledSelect" class="form-select">
                            <option>Bodega</option>
                            <option>Refrescos</option>
                            <option>Café</option>
                            <option>Destilados</option>
                        </select>
                    </div>
                    <div class=" mb-3">
                        <label for="cantidad" class="form-label">Cantidad: </label>
                        <input type="text" class="form-control" formControlName="cantidad">
                    </div>
                    <div class="mb-3">
                        <label for="precioSin" class="form-label">Precio sin iva: </label>
                        <input type="text" class="form-control" formControlName="precioSin">
                    </div>
                    <div class="mb-3">
                        <label for="iva" class="form-label">IVA:</label>
                        <input type="text" class="form-control" formControlName="iva">
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar
                        Cambios</button>
                    <button type="button" class="btn btn-primary" type="submit" data-bs-dismiss="modal"
                        aria-label="Close">Guardar Cambios</button>
                </form>
            </div> -->
        </div>
    </div>
</div>
<!-- tabla -->
<div class="container">
    <table id="tabla" class="table table-secondary table-striped">
        <!-- tabla -->
        <div class="container">
            <table class="table table-secondary table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Formato</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Precio sin iva</th>
                        <th scope="col">Iva</th>
                        <th scope="col">Precio con iva</th>
                        <th colspan="2" scope="col">Editar</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of arrProductos">
                        <th scope="row">{{producto.id}}</th>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.formato}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>{{producto.categoria}}</td>
                        <td>{{producto.precioSin}}</td>
                        <td>{{producto.iva}}</td>
                        <td>{{producto.precioCon}}</td>
                        <td> <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                [attr.data-bs-target]="'#editModal'+producto.id">Editar</button></td>
                        <td> <button type="button" class="btn btn-dark"
                                (click)="OnClickDelete(producto.id)">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </table>
</div>

<!-- modal -->
<div *ngFor=" let producto of arrProductos" class="modal fade" [id]="'editModal'+producto.id" tabindex="-1"
    aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- formu -->
            <app-form-product (formOut)='cerrarForm($event)' [producto]="producto"></app-form-product>
        </div>
    </div>
</div>
<!-- fin modal -->

<!-- footer -->
<app-footer></app-footer>